.header
    display grid
    grid-template-columns repeat(5,1fr)
    grid-template-rows 1fr
    picture.header__pic
        display block
        align-self flex-end
        margin-bottom 0
.hero
    width 35rem
    img
        width 45rem
.main
    display grid
    grid-template-columns repeat( 12, 1fr)
.cards__items-wrap
    grid-column 3 / span 3
.next__step-wrap
    grid-column 7 / span 4
.credit__data-wrap
    grid-column 3 / span 3
.destiny-wrap
    grid-column 7 / span 4
.contact
    display grid
    grid-template-columns repeat(2,1fr)
    grid-column 5 / span 4
    .subtitles
        grid-column 1 / span 2
    picture
        align-self center
    .btn
        align-self center
