.main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.cards__items-wrap {
  grid-column: 1/2;
  justify-self: center;
}
.credit__data-wrap {
  grid-column: 1/2;
  grid-row: 2/3;
}
.destiny-wrap {
  grid-column: 2/3;
  grid-row: 2/3;
}
.contact {
  grid-column: 1/2;
  grid-row: 4/5;
  margin: 0;
  justify-self: center;
}
