*
    margin: 0
    padding: 0
    box-sizing border-box
img
    display block
html
    font-size 62.5%
    font-family font1
a
    text-decoration none
.bg-degraded
    background degraded1
    color colorLight
.btn
    width 90%
    height 5rem
    border-radius 2.5rem
    text-transform uppercase
    border none
    color colorDark
    background colorLight
.btn_1
    background colorBtn
    color colorLight