.header
    flex-center()
    > picture
        align-self flex-start
        margin 1rem 4rem
    picture.header__pic
        display none
.hero
    flex-center()
    width 80%
    margin 1rem 0
    h3
        font-family font1
        font-size sizeTitle
        font-weight 400
        text-align center
        > span
            font-style italic
            font-weight bold