flex-center()
    display flex
    justify-content center
    align-items center
    flex-direction column
picture-icos()
    display inline-block
    width 5.1rem
    height 5.1rem
    margin-right 3rem
