// Colores brand 1
color1 = #048FF7
color2 = #07FAF2

// Colores brand 2
color3 = #A703F6
color4 = #F7276C

// Colores adicionales
colorLight = #ffffff
colorDark = #707070
colorLine = #00DED5
colorBtn = #ED2529

// Fuente principal
font1 = 'Open Sans', sans-serif

// Fuente secunsaria
font2 = 'Helvetica'

// Tamaños de fuentes
sizeTitle = 1.8rem
sizeSubTitle = 1.6rem
sizeSmall = 1.4rem
sizeExtraSmall = 1.1rem


// Degradado 1
degraded1 = linear-gradient(90deg, color1 0%, color2 100%) 0% 0% no-repeat padding-box;

// Degradado 2
degraded2 = linear-gradient(90deg, color3 0%, color4 100%) 0% 0% no-repeat padding-box;